PlacenoteSDK/PNSDK/libPlacenote.a filter=lfs diff=lfs merge=lfs -text
PlacenoteSDK/PNSDK/libopencv.a filter=lfs diff=lfs merge=lfs -text
PlacenoteSDK/PNSDK/Data.bin filter=lfs diff=lfs merge=lfs -text
